<form action="/creardb" enctype="multipart/form-data" method="POST">
  <label for="formFileDisabled" class="form-label">Inserta un archo CSV</label>
<input class="form-control" type="file" name="file" accept=".csv" required/>
<button type="submit" >enviar</button>
</form>

