<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
               <div class="row g-0">
                <div class="col-sm-6 col-md-6">
                    <div class="position-relative "
                        style="background-image:url('http://www.vcongresonacionaldederechodisciplinario.com/wp-content/uploads/2021/05/Landing-Personeria-Bogota-03.jpg'); height: 500px;">
                        <div class=" m-2 ">
                            <div class="ms-4">
                                <div
                                    style="background-image:url('http://www.vcongresonacionaldederechodisciplinario.com/wp-content/uploads/2021/05/Landing-Personeria-Bogota-04.jpg'); background-size: cover; width: 300px; height: 100px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-6">
                    <div
                        style="background-image:url('http://www.vcongresonacionaldederechodisciplinario.com/wp-content/uploads/2021/05/Landing-Personeria-Bogota-05.jpg'); background-size: 50%; background-repeat: no-repeat; margin-left: 8%; margin-top: 5%; width: 500px; height: 100px;">
                        
                    </div>
                    <div style="position:absolute; top: -25%; margin-left: 5%;">{{{body}}}</div> 
                </div>

            </div>
</body>

</html>